___

<a href='https://www.udemy.com/user/joseportilla/'><img src='../Pierian_Data_Logo.png'/></a>
___
<center><em>Content Copyright by Pierian Data</em></center>

# Function Practice Exercises

Problems are arranged in increasing difficulty:
* Warmup - these can be solved using basic comparisons and methods
* Level 1 - these may involve if/then conditional statements and simple methods
* Level 2 - these may require iterating over sequences, usually with some kind of loop
* Challenging - these will take some creativity to solve

## WARMUP SECTION:

#### LESSER OF TWO EVENS: Write a function that returns the lesser of two given numbers *if* both numbers are even, but returns the greater if one or both numbers are odd
    lesser_of_two_evens(2,4) --> 2
    lesser_of_two_evens(2,5) --> 5

In [163]:
def lesser_of_two_evens(a,b):
    if a % 2 == 0 and b % 2 == 0:
        if a > b:
            return b
        else:
            return a
    else:
        if a > b:
            return a
        else:
            return b

# Video Solution
def lesser_of_two_evens_video(a,b):
    if a % 2 == 0 and b % 2 == 0:
        return min (a,b)
    else:
        return max (a,b)

In [164]:
# Check
lesser_of_two_evens_video(2,4)

2

In [165]:
# Check
lesser_of_two_evens_video(2,5)

5

#### ANIMAL CRACKERS: Write a function takes a two-word string and returns True if both words begin with same letter
    animal_crackers('Levelheaded Llama') --> True
    animal_crackers('Crazy Kangaroo') --> False

In [29]:
def animal_crackers(text):
    word = text.split()
    if word[0][0] == word[1][0]:
        return True
    else:
        return False

# Video Solution
def animal_crackers_video(text):
    wordlist = text.split()
    
    return wordlist[0][0] == wordlist[1][0]

In [23]:
apple = "Happy Birthday"

In [26]:
apple.split()[1][0]

'B'

In [30]:
# Check
animal_crackers('Levelheaded Llama')

True

In [31]:
# Check
animal_crackers('Crazy Kangaroo')

False

#### MAKES TWENTY: Given two integers, return True if the sum of the integers is 20 *or* if one of the integers is 20. If not, return False

    makes_twenty(20,10) --> True
    makes_twenty(12,8) --> True
    makes_twenty(2,3) --> False

In [35]:
def makes_twenty(n1,n2):
    if n1 == 20 or n2 == 20 or n1 + n2 == 20:
        return True
    else:
        return False

# Video Solution
def makes_twenty_video(n1,n2):
    return n1 == 20 or n2 == 20 or n1 + n2 == 20

In [36]:
# Check
makes_twenty(20,10)

True

In [37]:
# Check
makes_twenty(2,3)

False

# LEVEL 1 PROBLEMS

#### OLD MACDONALD: Write a function that capitalizes the first and fourth letters of a name
     
    old_macdonald('macdonald') --> MacDonald
    
Note: `'macdonald'.capitalize()` returns `'Macdonald'`

In [166]:
def old_macdonald(name):
    return name[0].upper() + name[1:3] + name[3].upper() + name[4:] 

# Video Solution
def old_macdonald_video(name):
    first_half = name[:3]
    second_half = name[3:]

    return first_half.capitalize() + second_half.capitalize()

In [167]:
# Check
old_macdonald_video('macdonald')

'MacDonald'

#### MASTER YODA: Given a sentence, return a sentence with the words reversed

    master_yoda('I am home') --> 'home am I'
    master_yoda('We are ready') --> 'ready are We'
    
Note: The .join() method may be useful here. The .join() method allows you to join together strings in a list with some connector string. For example, some uses of the .join() method:

    >>> "--".join(['a','b','c'])
    >>> 'a--b--c'

This means if you had a list of words you wanted to turn back into a sentence, you could just join them with a single space string:

    >>> " ".join(['Hello','world'])
    >>> "Hello world"

In [170]:
def master_yoda(text):
    reverse = text.split()
    return " ".join(reverse[::-1])

def master_yoda_video(text):
    wordlist = text.split()
    reverse_wordlist = wordlist[::-1]
    return " ".join(reverse_wordlist)

In [171]:
# Check
master_yoda_video('I am home')

'home am I'

In [173]:
# Check
master_yoda_video('We are ready')

'ready are We'

#### ALMOST THERE: Given an integer n, return True if n is within 10 of either 100 or 200

    almost_there(90) --> True
    almost_there(104) --> True
    almost_there(150) --> False
    almost_there(209) --> True
    
NOTE: `abs(num)` returns the absolute value of a number

In [174]:
def almost_there(n):
    if (n > 90 and n < 110) or (n > 190 and n < 210):
        return True
    else:
        return False

def almost_there_video(n):
    return (abs(100-n) <= 10) or (abs(200-n) <= 10)

In [175]:
# Check
almost_there_video(104)

True

In [176]:
# Check
almost_there_video(150)

False

In [177]:
# Check
almost_there_video(209)

True

# LEVEL 2 PROBLEMS

#### FIND 33: 

Given a list of ints, return True if the array contains a 3 next to a 3 somewhere.

    has_33([1, 3, 3]) → True
    has_33([1, 3, 1, 3]) → False
    has_33([3, 1, 3]) → False

In [178]:
def has_33(nums):
    lastnum = 0
    for num in nums:
        if num == 3 and lastnum == 3:
            return True
        else:
            lastnum = num
    return False

def has_33_video(nums):
    for i in range(0,len(nums)-1):
        if nums[i] == 3 and nums[i+1] == 3:
            return True
    return False

In [179]:
# Check
has_33_video([1, 3, 3])

True

In [180]:
# Check
has_33_video([1, 3, 1, 3])

False

In [181]:
# Check
has_33_video([3, 1, 3])

False

#### PAPER DOLL: Given a string, return a string where for every character in the original there are three characters
    paper_doll('Hello') --> 'HHHeeellllllooo'
    paper_doll('Mississippi') --> 'MMMiiissssssiiippppppiii'

In [182]:
def paper_doll(text):
    newstring = []
    for l in text:
        newstring.append(l*3)

    return "".join(newstring)

def paper_doll_video(text):
    result = ""

    for char in text:
        result += char*3
    return result

In [183]:
# Check
paper_doll_video('Hello')

'HHHeeellllllooo'

In [184]:
# Check
paper_doll_video('Mississippi')

'MMMiiissssssiiissssssiiippppppiii'

#### BLACKJACK: Given three integers between 1 and 11, if their sum is less than or equal to 21, return their sum. If their sum exceeds 21 *and* there's an eleven, reduce the total sum by 10. Finally, if the sum (even after adjustment) exceeds 21, return 'BUST'
    blackjack(5,6,7) --> 18
    blackjack(9,9,9) --> 'BUST'
    blackjack(9,9,11) --> 19

In [185]:
def blackjack(a,b,c):
    total = 0

    if a + b + c <= 21:
        total = a + b + c
    elif a + b + c == 21 and a == 11 or b == 11 or c == 11:
        total = a + b + c - 10
    else:
        total = a + b + c
    
    if total > 21:
        total = "BUST"

    return total

def blackjack_video(a,b,c):
    if sum([a,b,c]) <= 21:
        return sum([a,b,c])
    elif 11 in [a,b,c] and sum([a,b,c]) <=31:
        return sum([a,b,c])-10
    else:
        return "BUST"

In [186]:
# Check
blackjack_video(5,6,7)

18

In [187]:
# Check
blackjack_video(9,9,9)

'BUST'

In [188]:
# Check
blackjack_video(9,9,11)

19

#### SUMMER OF '69: Return the sum of the numbers in the array, except ignore sections of numbers starting with a 6 and extending to the next 9 (every 6 will be followed by at least one 9). Return 0 for no numbers.
 
    summer_69([1, 3, 5]) --> 9
    summer_69([4, 5, 6, 7, 8, 9]) --> 9
    summer_69([2, 1, 6, 9, 11]) --> 14

In [190]:
def summer_69(arr):
    newarr = []
    skip = False

    for num in arr:
        if num == 9:
            skip = False
        elif num == 6:
            skip = True
        elif skip == True:
            pass
        else:
            newarr.append(num)

    return sum(newarr)

def summer_69_video(arr):
    total = 0
    add = True
    
    for num in arr:
        while add:
            if num != 6:
                total += num
                break
            else:
                add = False
        while not add:
            if num != 9:
                break
            else:
                add = True
                break 
    return total

In [191]:
# Check
summer_69_video([1, 3, 5])

9

In [192]:
# Check
summer_69_video([4, 5, 6, 7, 8, 9])

9

In [193]:
# Check
summer_69([2, 1, 6, 9, 11])

14

# CHALLENGING PROBLEMS

#### SPY GAME: Write a function that takes in a list of integers and returns True if it contains 007 in order

     spy_game([1,2,4,0,0,7,5]) --> True
     spy_game([1,0,2,4,0,5,7]) --> True
     spy_game([1,7,2,0,4,5,0]) --> False

In [194]:
def spy_game(nums):
    spy = False
    lastnum = 0

    for num in nums:
        if num == 0:
            lastnum = 0
        elif num == 0 and lastnum == 0:
            lastnum == 00
        elif num == 7 and lastnum == 00:
            spy = True
        else:
            lastnum = num
    
    return spy 

def spy_game_video(nums):
    code = [0,0,7,'x']

    for num in nums:
        if num == code[0]:
            code.pop(0)
    
    return len(code) == 1

In [195]:
# Check
spy_game_video([1,2,4,0,0,7,5])

True

In [196]:
# Check
spy_game_video([1,0,2,4,0,5,7])

True

In [197]:
# Check
spy_game_video([1,7,2,0,4,5,0])

False

#### COUNT PRIMES: Write a function that returns the *number* of prime numbers that exist up to and including a given number
    count_primes(100) --> 25

By convention, 0 and 1 are not prime.

In [205]:
def count_primes(num):
    count = 0

    for n in range(2,num):
        if n % n == 0 and n % 1 == 0:
            count = count + 1
        else:
            pass

    return count    

def count_primes_video(num):    
    if num < 2:
        return 0

    primes = [2]
    x = 3

    while x <= num:
        for y in range(3,x,2):
            if x % y == 0:
                x += 2
                break
        else:
            primes.append(x)
            x += 2
    print(primes)
    return len(primes)

In [121]:
4 % 1

0

In [206]:
# Check
count_primes_video(100)

[2, 3, 5, 7, 11, 13, 17, 19, 23, 29, 31, 37, 41, 43, 47, 53, 59, 61, 67, 71, 73, 79, 83, 89, 97]

25

### Just for fun:
#### PRINT BIG: Write a function that takes in a single letter, and returns a 5x5 representation of that letter
    print_big('a')
    
    out:   *  
          * *
         *****
         *   *
         *   *
HINT: Consider making a dictionary of possible patterns, and mapping the alphabet to specific 5-line combinations of patterns. <br>For purposes of this exercise, it's ok if your dictionary stops at "E".

In [159]:
def print_big(letter):
    if letter == 'a':
        print('  *  \n * * \n*****\n*   *\n*   *')
    if letter == 'b':
        print('**** \n*   *\n**** \n*   *\n**** ')
    if letter == 'c':
        print('*****\n*    \n*    \n*    \n*****')
    if letter == 'd':
        print('***  \n*  * \n*   *\n*  * \n***  ')
    if letter == 'e':
        print('*****\n*    \n*****\n*    \n*****')

def print_big_video(letter):

In [160]:
print_big('e')

*****
*
*****
*
*****

## Great Job!